$color-background: #edf2ec;
$color-primary-dark: #499a18;
$color-primary-light: #d6e7d2;
$color-primary-second: #e06733;

$color-heading-nav: #010201;
$color-text: #636060;
$color-text-second: #717171;
$color-border: #e3e1d5;
$color-font: #000000;

$content-width: 1440px;
$tablet-width: 761px;
$tablet-width-big: 1080px;
$mobile-width: 320px;
$mobile-big-width: 760px;
