.footer {
  background-color: #ffffff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0 30px 0;
}
.footer-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter";
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  padding-left: 109px;
}

.data__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding-left: 20px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-right: 110px;
  list-style-type: none;
}

#rs__school {
  padding-left: 337px;
}
