.about {
  background-color: #ffffff;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 153px;

  @include media-tablet {
    flex-direction: column;
    gap: 40px;
  }

  @include media-mobile {
    flex-direction: column;
    gap: 0;
  }
}

.color-text__second {
  color: $color-primary-second;
}

.about__content {
  display: flex;
  width: 605px;
  flex-direction: column;
  padding: 161px 0 155px 109px;

  @include media-tablet {
    padding: 40px 30px 0 30px;
    align-items: center;
  }

  @include media-mobile {
    width: 330px;
    padding: 30px 0px 0 0px;
    align-items: center;
  }
}

.about-head {
  width: 463px;
  font-weight: normal;
  color: $color-primary-dark;

  @include media-tablet {
    padding: 0 173px 0 172px;
    height: 102px;
    width: 423px;
    text-align: center;
  }

  @include media-mobile {
    padding: 0 46px 0 46px;
    width: 288px;
    text-align: center;
  }
}

.about-article {
  width: 605px;
  padding-top: 40px;
  color: $color-text;
  line-height: 30px;

  @include media-tablet {
    width: 668px;
    font-size: 20px;
    height: 208px;
  }
  @include media-mobile {
    width: 330px;
    padding-top: 18px;
    font-size: 15px;
    line-height: 25px;
  }
}

.about__img {
  padding: 93px 109px 94px 0;
  max-width: 100%;

  @include media-tablet {
    padding: 0 209px 95px 209px;
  }

  @include media-mobile {
    padding: 0 90px 31px 90px;
  }
}
